@model IEnumerable<NarwianskiZakatek.Models.AppUser>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Użytkownicy</h1>

<partial name="_StatusMessage" />
<table class="table">
    <thead>
        <tr>
            <th>
                Adres e-mail
            </th>
            <th>
                Numer telefonu
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    @if (ViewBag.CurrentUser != item.Email)
                    {
                        <text>
                            <a asp-action="SendWarning" asp-route-userName="@item.UserName">Wyślij ostrzeżenie</a> |
                        </text>
                        if (!item.IsLocked)
                        {
                            <a asp-action="LockAccount" asp-route-userName="@item.UserName"> Zablokuj użytkownika </a>
                        }
                        else
                        {
                            <a asp-action="UnlockAccount" asp-route-userName="@item.UserName"> Odblokuj użytkownika </a>
                        }

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
