@model NarwianskiZakatek.Services.PaginatedList<NarwianskiZakatek.Models.AppUser>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Użytkownicy</h1>
<partial name="_Warning" />
<partial name="_StatusMessage" />

<form asp-action="Users" method="get">
    <div class="form-actions no-color">
        <h3>Filtrowanie</h3>
        <div class="row">
            <div class="col-md-2">
                <p>
                    Adres email:
                </p>
            </div>
            <div class="col-md-4">
                <input type="text" name="email" value="@ViewBag.Email" />
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>
                    Numer telefonu:
                </p>
            </div>
            <div class="col-md-4">
                <input type="text" name="phone" value="@ViewBag.Phone" />
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <p>
                    Poziom uprawnień:
                </p>
            </div>
            <div class="col-md-4">
                <input type="text" name="role" value="@ViewBag.Role" />
            </div>
            <div class="col-md-6">
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p>
                    <input type="submit" value="Filtruj" class="btn btn-primary with-margin" /> <a asp-action="Users">Wyczyść filtry</a>
                </p>
            </div>
            <div class="col-md-8">
            </div>
        </div>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                Adres e-mail
            </th>
            <th>
                Numer telefonu
            </th>
            <th>
                Poziom uprawnień
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @if (ViewBag.Admins.Contains(item.Id))
                    {
                        <text>Admin</text>
                    }
                    else if (ViewBag.Employees.Contains(item.Id))
                    {
                        <text>Pracownik</text>
                    }
                    else
                    {
                        <text>Klient</text>
                    }
                </td>
                <td>
                    @if (ViewBag.CurrentUser != item.Email)
                    {
                        <a asp-action="SendWarning" asp-route-userName="@item.UserName" class="btn btn-primary with-margin">Wyślij ostrzeżenie</a>
                        if (!item.IsLocked)
                        {
                            <form method="post">
                                <input type="hidden" value="@item.UserName" name="userName" id="userName" />
                                <input type="submit" asp-action="LockAccount" value="Zablokuj użytkownika" class="btn btn-primary with-margin"/>
                            </form>
                        }
                        else
                        {
                            <form method="post">
                                <input type="hidden" value="@item.UserName" name="userName" id="userName" />
                                <input type="submit" asp-action="UnlockAccount" value="Odblokuj użytkownika" class="btn btn-primary with-margin"/>
                            </form>
                        }

                        if (ViewBag.Admins.Contains(item.Id))
                        {
                            <form method="post">
                                <input type="hidden" value="@item.UserName" name="userName" id="userName" />
                                <input type="hidden" value="ADMIN" name="role" id="role" />
                                <input type="submit" asp-action="RemoveFromRole" value="Usuń uprawnienia administratora" class="btn btn-primary with-margin"/>
                            </form>
                        }
                        else if (ViewBag.Employees.Contains(item.Id))
                        {
                            <form method="post">
                                <input type="hidden" value="@item.UserName" name="userName" id="userName" />
                                <input type="hidden" value="ADMIN" name="role" id="role" />
                                <input type="submit" asp-action="AddToRole" value="Nadaj uprawnienia administratora" class="btn btn-primary with-margin"/>
                            </form>
                            <form method="post">
                                <input type="hidden" value="@item.UserName" name="userName" id="userName" />
                                <input type="hidden" value="EMPLOYEE" name="role" id="role" />
                                <input type="submit" asp-action="RemoveFromRole" value="Usuń uprawnienia pracownika" class="btn btn-primary with-margin"/>
                            </form>
                        }
                        else
                        {
                            <form method="post">
                                <input type="hidden" value="@item.UserName" name="userName" id="userName" />
                                <input type="hidden" value="EMPLOYEE" name="role" id="role" />
                                <input type="submit" asp-action="AddToRole" value="Nadaj uprawnienia pracownika" class="btn btn-primary with-margin"/>
                            </form>
                            <br>
                        }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevClass = !Model.HasPreviousPage ? "btn btn-secondary disabled-button" : "btn btn-primary";
    var nextClass = !Model.HasNextPage ? "btn btn-secondary disabled-button" : "btn btn-primary";
}

<a asp-action="Users"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="@prevClass">
    Poprzednia strona
</a>
<a asp-action="Users"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="@nextClass">
    Kolejna strona
</a>