@model IEnumerable<NarwianskiZakatek.Models.AppUser>

@{
    ViewData["Title"] = "Users";
}

<h1>Użytkownicy</h1>

<partial name="_StatusMessage" />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            
            <td>
                    <a asp-action="SendWarning" asp-route-userName="@item.UserName">Wyślij ostrzeżenie</a> |
                    <a asp-action="LockAccount" asp-route-userName="@item.UserName">Zablokuj użytkownika</a>
            </td>
        </tr>
}
    </tbody>
</table>
