<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - NarwianskiZakatek</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/NarwianskiZakatek.styles.css" asp-append-version="true" />
    <link href="~/css/calendar.css" rel="stylesheet" />
    <link href="~/css/weather.css" rel="stylesheet" />
</head>

<body class="bg-black" style="padding-bottom:60px">
    <header>
        <div class="container-fluid no-pad">
            <img class="fit" src="~/graphics/Header.jpg" runat="server" />
            <div class="top-right">
                <a class="pagetitle" style="" asp-area="" asp-controller="" asp-action="Index">Narwiański Zakątek</a>
            </div>
        </div>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-fluid">
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-header="Noclegi">Noclegi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-header="Restauracja">Restauracja</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-header="Atrakcje">Atrakcje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-header="Okolica">Okolica</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Reservations" asp-action="Index">Rezerwacje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Edit" asp-route-header="O nas">O nas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Admin" asp-action="Users">Użytkownicy</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Rooms" asp-action="Index">Pokoje</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Posts" asp-action="Admin">Posty</a>
                        </li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>
    <div class="container bg-white">
        <div class="row">
            <div class="col-md-8">
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <div class="col-md-4">
                <div>
                    <partial name="_Calendar" />
                </div>
                <div>
                    <partial name="_Weather" />
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("scripts", required: false)
    @RenderSection("css", required: false)
</body>
<footer class="border-top footer text-muted footer-custom">
    <div class="container" style="color: black">
        &copy; @DateTime.Now.Year - Narwiański Zakątek
    </div>
</footer>
</html>
