@page
@model LoginModel

@{
    ViewData["Title"] = "Zaloguj do serwisu";
}
<br/>
<div class="row">
    <div class="col-md-4 col-md-offset-2">
        <section>
            <h3>Zaloguj się przy użyciu jednego z poniższych serwisów</h3>
            <hr />
            @{
                <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                    <div>
                        <p>
                            @foreach (var provider in Model.ExternalLogins)
                            {
                                <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Zaloguj się, używając konta @provider.DisplayName" style="margin: 5px">@provider.DisplayName</button>
                                <br />
                            }
                        </p>
                    </div>
                </form>
            }
        </section>
    </div>
    <div class="col-md-8">
        <section>
            <form id="account" method="post">
                <h2>Logowanie</h2>
                <hr />
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-floating" style="margin: 5px">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Email" class="form-label"></label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating" style="margin: 5px">
                    <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" />
                    <label asp-for="Input.Password" class="form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div>
                    <button id="login-submit" style="margin: 5px" type="submit" class="w-100 btn btn-lg btn-primary">Zaloguj</button>
                </div>
                <div>
                    <p>
                        <a id="forgot-password" asp-page="./ForgotPassword">Nie pamiętasz hasła?</a>
                    </p>
                    <p>
                        <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Załóż konto</a>
                    </p>
                    <p>
                        <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Wyślij ponownie link aktywacyjny</a>
                    </p>
                </div>
            </form>
        </section>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
