@model NarwianskiZakatek.Services.PaginatedList<NarwianskiZakatek.Models.Post>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Utworzone wpisy</h1>
<partial name="_StatusMessage" />
<p>
    <a asp-action="Create">Dodaj posta</a>
</p>
<hr />
@foreach (var item in Model)
{
    <h3>
        @item.Title
    </h3>
    <h5>
        @item.getDateWithFormat()
    </h5>
    <table>
        <tr>
            <td>
                @if (item.PhotoUrl != null)
                {
                    <img class="image" src="@item.getFullPhotoPath()" width="120" height="110" />
                }
            </td>
            <td>
                <p class="text-content">
                    @item.getContentPreview()
                </p>
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PostId">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@item.PostId">Usuń</a>
            </td>
        </tr>
    </table>
}

@{
    var prevClass = !Model.HasPreviousPage ? "btn btn-secondary disabled-button" : "btn btn-primary";
    var nextClass = !Model.HasNextPage ? "btn btn-secondary disabled-button" : "btn btn-primary";
}

<a asp-action="Admin"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="@prevClass">
    Poprzednia strona
</a>
<a asp-action="Admin"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="@nextClass">
    Kolejna strona
</a>