@model NarwianskiZakatek.Models.Post

<h1>@Html.DisplayFor(model => model.Title)</h1>
<h3>@Html.DisplayNameFor(model => model.DateCreated) @Model.getDateWithFormat()</h3>
<img src="@Model.getFullPhotoPath()" width="100%" />
<p>
    @Html.DisplayFor(model => model.Content)
</p>
