@model NarwianskiZakatek.Services.PaginatedList<NarwianskiZakatek.Models.Post>

<h1>Witaj na stronie gospodarstwa agroturystycznego Narwiański Zakątek!</h1>
<partial name="_Warning" />
<hr/>
@foreach (var item in Model)
{
    <h3>
        @item.Title
    </h3>
    <h5>
        @item.getDateWithFormat()
    </h5>
    <table>
        <tr>
            @if (item.getFullPhotoPath() != null)
            {
                <td>
                    <img class="image" src="@item.getFullPhotoPath()" width="120" height="110" />
                </td>
            }
            else 
            {
                <td></td>
            }
            <td>
                <p class="text-content">
                    @item.getContentPreview()
                    <a asp-action="Details" asp-route-id="@item.PostId">Czytaj dalej</a>
                </p>
            </td>
        </tr>
    </table>
}

@{
    var prevClass = !Model.HasPreviousPage ? "btn btn-secondary disabled-button" : "btn btn-primary";
    var nextClass = !Model.HasNextPage ? "btn btn-secondary disabled-button" : "btn btn-primary";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="@prevClass">
    Poprzednia strona
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="@nextClass">
    Kolejna strona
</a>