@model NarwianskiZakatek.Services.PaginatedList<NarwianskiZakatek.Models.Post>

<h1>Witaj na stronie gospodarstwa agroturystycznego Narwiański Zakątek!</h1>
<partial name="_Warning" />
@foreach (var item in Model)
{
    <h1>
        @item.Title
    </h1>
    <h4>
        @item.getDateWithFormat()
    </h4>
    <table>
        <tr>
            @if (item.getFullPhotoPath() != null)
            {
                <td>
                    <img style="margin: 10px; object-fit: contain;" src="@item.getFullPhotoPath()" width="120" height="110" />
                </td>
            }
            else 
            {
                <td></td>
            }
            <td>
                <p style="text-align: justify;">
                    @item.getContentPreview()
                    <a asp-action="Details" asp-route-id="@item.PostId">Czytaj dalej</a>
                </p>
            </td>
        </tr>
    </table>
}

@{
    var prevDisabled = !Model.HasPreviousPage ? "display:none;" : "";
    var nextDisabled = !Model.HasNextPage ? "display:none;" : "";
}

<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default" style="@prevDisabled">
    Poprzednia strona
</a>
<a asp-action="Index"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default" style="@nextDisabled">
    Kolejna strona
</a>