@model NarwianskiZakatek.Services.PaginatedList<NarwianskiZakatek.Models.Reservation>

<h1>Moje rezerwacje</h1>
<partial name="_StatusMessage" />
<p>
    <a asp-action="Date">Zarezerwuj pobyt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @if (ViewBag.SortOrder == "begin")
                {
                    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex)" asp-route-sortOrder="begin_desc">
                        Data rozpoczęcia
                    </a>
                }
                else
                {
                    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex)" asp-route-sortOrder="begin">
                        Data rozpoczęcia
                    </a>
                }
            </th>
            <th>
                @if (ViewBag.SortOrder == "end")
                {
                    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex)" asp-route-sortOrder="end_desc">
                        Data zakończenia
                    </a>
                }
                else
                {
                    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex)" asp-route-sortOrder="end">
                        Data zakończenia
                    </a>
                }
            </th>
            <th>
                @if (ViewBag.SortOrder == "price")
                {
                    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex)" asp-route-sortOrder="price_desc">
                        Cena (zł)
                    </a>
                }
                else
                {
                    <a asp-action="Index" asp-route-pageNumber="@(Model.PageIndex)" asp-route-sortOrder="price">
                        Cena (zł)
                    </a>
                }
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ReservationId">Szczegóły rezerwacji</a> | 
                    @if (item.BeginDate > DateTime.Today)
                    {
                        <a asp-action="Delete" asp-route-id="@item.ReservationId">Anuluj rezerwację</a>
                    }
                    @if (item.EndDate < DateTime.Today && string.IsNullOrWhiteSpace(item.Opinion))
                    {
                        <a asp-action="Rate" asp-route-id="@item.ReservationId">Oceń pobyt</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@{
    var prevDisabled = !Model.HasPreviousPage ? "display:none;" : "";
    var nextDisabled = !Model.HasNextPage ? "display:none;" : "";
}

<a asp-action="MyReservations"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   class="btn btn-default" style="@prevDisabled">
    Poprzednia strona
</a>
<a asp-action="MyReservations"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   class="btn btn-default" style="@nextDisabled">
    Kolejna strona
</a>