@model IEnumerable<NarwianskiZakatek.Models.Reservation>

<h1>Moje rezerwacje</h1>
<partial name="_StatusMessage" />
<p>
    <a asp-action="Date">Zarezerwuj pobyt</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BeginDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price) zł
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BeginDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ReservationId">Szczegóły rezerwacji</a>
                    @if (item.BeginDate > DateTime.Today)
                    {
                        <a asp-action="Delete" asp-route-id="@item.ReservationId">Anuluj rezerwację</a>
                    }
                    @if (item.EndDate < DateTime.Today && string.IsNullOrWhiteSpace(item.Opinion))
                    {
                        <a asp-action="Rate" asp-route-id="@item.ReservationId">Oceń pobyt</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
