@model IEnumerable<NarwianskiZakatek.Models.Room>
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h1>Lista pokoi</h1>

<p>
    <a asp-action="Create">Dodaj</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.RoomNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RoomCapacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RoomNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RoomCapacity)
            </td>
            <td>
                    @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RoomId">Edytuj</a> |
                <a asp-action="Delete" asp-route-id="@item.RoomId">Usuń</a>
            </td>
        </tr>
}
    </tbody>
</table>
